.cards-section-wrapper {
  padding: 0 1.5rem 1.5rem;
  background: var(--cards-bg-color);
  font-family: "fontRegular5";
}

.cards-heading {
  font-size: 28px;
  padding: 1.5rem 0;
}
.cards-container {
  display: grid;
  gap: 20px;
}

.card {
  border: 1px solid rgb(85, 85, 85);
  border-radius: 6px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.card img {
  width: 100%;
}

.card-title {
  padding: 1rem;
  font-size: 20px;
}

.card-description,
.card-details {
  padding: 0 1rem 1.3rem;
  font-size: 17px;
}

.card-details {
  display: flex;
  align-items: center;
}

.card-details span {
  color: var(--lightblue-color);
  transition: all 0.3s linear;
}

.card-details svg path {
  fill: var(--lightblue-color);
}

.card-details {
  padding: 0 1.5rem 2rem;
  font-size: 17px;
  cursor: pointer;
}
svg {
  margin-right: 5px;
}

.card-details span:hover {
  color: rgb(0, 116, 159);
}

@media only screen and (min-width: 700px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1050px) {
  .cards-section-wrapper {
    padding: 1rem 11rem 1.5rem;
  }
  .cards-heading {
    font-size: 24px;
    padding: 1.5rem 0 4rem;
  }
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 38px;
  }
  .card-title {
    padding: 2rem 1.5rem;
    font-size: 18px;
  }

  .card-description {
    padding: 0 1.5rem 1.3rem;
    font-size: 14px;
    margin-bottom: 90px;
  }

  .card-details {
    padding: 0 1.5rem;
    margin-bottom: 1.3rem;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1450px) {
  .cards-section-wrapper {
    padding: 1rem 29rem 1.5rem;
  }
}
