header {
  background: #1a1e1f;
  padding: 1rem 1.5rem;
  transition: 1s linear;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  display: none;
}

.main-menu li {
  font-size: 14px;
  font-family: "fontRegular";
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  transition: color 0.3s ease-in-out;
}
.selected {
  color: var(--lightblue-color);
}

.main-menu li:hover,
.burger-menu a li:hover {
  color: var(--lightblue-color);
}

.overlay {
  visibility: hidden;
  position: fixed;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1000;
  display: flex;
  justify-content: flex-end;
  backdrop-filter: blur(1px);
}

.overlay.active {
  z-index: 200;
  visibility: visible;
}

.burger-menu {
  background: rgb(43, 43, 43);
  width: 65%;
  padding: 6.5rem 1rem;
  text-align: right;
  transition: 0.3s ease;
  z-index: 10;
  transform: translateX(100%);
}
.burger-menu.active {
  background: rgb(43, 43, 43);
  transform: unset;
}

.burger-menu a li {
  padding: 1rem 0.2rem;
  font-size: 17px;
  font-family: "fontRegular";
  transition: color 0.3s ease-in-out;
}

.ham-menu {
  height: 35px;
  width: 35px;
  position: relative;
  cursor: pointer;
  z-index: 201;
}

.ham-menu.active {
  background: rgb(43, 43, 43);
}

.ham-menu span {
  height: 4px;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
  left: 0;
  width: 50%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
  right: 0;
  width: 50%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  width: 100%;
  transform: translate(0, 50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  width: 100%;
  transform: translate(0, 50%) rotate(-45deg);
}

.show-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(34, 34, 34, 0.95);
}

.menu-active {
  transform: unset;
}

@media only screen and (min-width: 700px) {
  .navigation-wrapper {
    justify-content: space-around;
  }
  .main-menu {
    display: flex;
  }
  .ham-menu {
    display: none;
  }
  .burger-menu {
    display: none;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}
@media only screen and (min-width: 1050px) {
  header {
    padding: 1rem 0.5rem;
  }
}

@media only screen and (min-width: 1450px) {
  header {
    padding: 1rem 10rem;
  }
}
