* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: var(--white-color);
}
body {
  font-family: var(--main-font);
  min-height: 100vh;
}
