:root {
  --lightblue-color: #00aeef;
  --white-color: #f4f4f4;
  --description-bg-color: #2b2b2b;
  --description-btn-color: #00aef3;
  --footer-btn-color: #00aef3;
  --cards-bg-color: rgb(22, 22, 22);
  --footer-bg-color: rgb(26, 30, 31);
  --text-28-color: rgb(28, 28, 28);
  --bg-overlay-color-opacity: rgba(22, 22, 22, 0.6);
  --bg-overlay-color: rgb(43, 43, 43);
  --contact-btn-hover: #706d6d;
  --contact-btn-bg-hover: #ccc9c9;
  --arrow-color: rgb(230, 230, 230);
  --QA-background: rgb(22, 22, 22);
  --QA-color: rgb(244, 244, 244);
  --QA-btn-color: #00aef3;
  --footer-btn-hover-color: rgb(0, 174, 243);
  --terms-hover: #706d6d;
  --grayColor: #808080;
  --grayFont: #8c8c8c;
}
